#background {
	/* border: 1px solid orange; */
	z-index: -2;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	/* bottom: 10vh; */
	height: 90svh;
	font-size: 0;
	padding: 10px;
	overflow: hidden;
	/* background-color: hsl(var(--primaryHue), 20%, 5%); */
	/* transition: transform 0.1s cubic-bezier(0,-0.01,.38,.7); */
	/* transition: transform 0s linear; */
}

.row {
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.square {
	display: inline-block;
	aspect-ratio: 1 / 1;
	/* background-color: #1f1f1f; */
	background-color: hsl(var(--primaryHue), 20%, 4%);
	border-radius: 20px;
	/* box-shadow: #1a1a1a 6px 6px 10px -5px inset, #2a2a2a -4px -4px 10px -5px inset; */
	box-shadow: hsla(var(--primaryHue), 10%, 1%, .7) 5px 5px 5px -5px inset, hsla(var(--primaryHue), 20%, 2%, .7) 10px 10px 10px -5px inset,
		hsla(var(--primaryHue), 30%, 8%, .7) -5px -5px 5px -5px inset, hsla(var(--primaryHue), 20%, 7%, .7) -10px -10px 10px -5px inset;
	/* transition: transform 0.5s cubic-bezier(0, -0.01, 0.38, 0.7); */
	/* transition: transform 0.1s linear; */
}

#titleContainer {
	/* position: fixed; */
	/* z-index: -1;
	top: 0;
	bottom: 10vh;
	left: 0;
	right: 0; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(90svh - 74px);
	background: radial-gradient(farthest-corner, hsla(var(--primaryHue), 50%, 5%, 0.1) 0%, #20202019 50%, #00000066 100%);
}

h1 {
	position: absolute;
	z-index: 2;
	font-size: calc(50px + 10vw);
	text-align: center;
	/* font-family: 'Comfortaa', cursive;   */
	font-weight: 700;
	font-family: 'Fugaz One', cursive;
	user-select: none;
	/* transition: transform 0.1s cubic-bezier(0, 1, 0, 1); */
	/* font-family: 'Lemon', cursive; */
	text-shadow: 0 0 10px#1a1a1aaa, 0 0 3px #111;
}

h1:nth-of-type(1) {
	color: hsl(var(--primaryHue), 15%, 15%);
	text-shadow: 0 0 10px#1a1a1aaa, 0 0 3px #111, 0 0 40px hsla(var(--primaryHue), 20%, 20%, 0.6);
}
h1:nth-of-type(2) {
	color: hsl(var(--primaryHue), 30%, 30%);
	-webkit-mask-image: url('./assets/circle.png');
	mask-image: url('./assets/circle.png');
	mask-repeat: repeat;
	-webkit-mask-repeat: repeat;
	mask-position: 0 -3px;
	-webkit-mask-position: 0 -3px;
	mask-size: 10px;
	-webkit-mask-size: 10px;
	/* opacity: 50%; */
}
h1:nth-of-type(3) {
	color: hsl(calc(var(--primaryHue) - 0), 90%, 50%);
	opacity: 0.5;
}
h1:nth-of-type(4) {
	color: var(--primary);
	/* color: var(--primary); */
}
