main {
	position: fixed;
	top: 90vh;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: row;
}

#left {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	width: calc(-450px + 50%);
	min-width: 300px;
	background-color: var(--mainBackgroundCol);
}

#right {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex: 1;
	background-color: var(--secondary);
}

#leftContent {
	background-color: var(--mainBackgroundCol);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	flex: 1;
	max-width: 300px;
	padding: 5px 40px 0 40px;
	display: flex;
	flex-direction: column;
	z-index: 3;
}

.header {
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#leftContent > .header {
	/* border-bottom: var(--separatorBorder); */
	/* margin-bottom: 15px; */
}

#leftContent > button {
	border: none;
	outline: none;
	text-decoration: none;
	background: transparent;
	text-align: left;
	color: #ccc;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 17px;
	padding: 5px 0 5px 15px;
	border-left: 2px solid #333;
	cursor: pointer;
	transition: color 0.2s, border 0.2s;
}

#leftContent > button:hover {
	color: #eee;
	border-left: 2px solid var(--header);
}

#leftContent > button:active {
	color: #ccc;
}
#leftContent > button:focus {
	color: #ccc;
}

#leftContent > button.secondary {
	font-size: 15px;
	color: #888;
	padding-left: 20px;
}

#leftContent > button.active {
	color: #eee;
	border-left: 4px solid var(--header);
}

#rightContent {
	flex: 1;
	max-width: 1200px;
	padding-bottom: 100px;
}

#rightContent > .header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background-color: var(--secondary);
	padding: 5px 40px 0 40px;
	box-shadow: 0 5px 5px var(--secondary);
}

h5 {
	color: var(--header);
	font-family: 'Fugaz One', cursive;
	font-size: 20px;
}

section {
	margin: 0 120px;
	padding-bottom: 20px;
	/* border-bottom: 1px solid #444; */
	border-bottom: var(--separatorBorder);
	margin-bottom: 40px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

section > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

section > a.image {
	margin: 10px 0 20px 0;
	width: 70%;
}

section > a.image > img {
	border-radius: 10px;
	width: 100%;
}

h2 {
	/* color: var(--header); */
	color: #ddd;
	/* font-family: 'Lemon', cursive; */
	font-family: 'Fugaz One', cursive;
	font-size: 60px;
	margin-bottom: 10px;
}

p {
	font-size: 20px;
	color: #ccc;
	/* font-family: 'Jura', sans-serif; */
	font-family: 'Nunito Sans', sans-serif;
	/* font-family: 'Tajawal', sans-serif; */
	line-height: 1.5;
	margin-bottom: 10px;
}

p > a {
	color: #9862e9;
	text-decoration: none;
}

p > a:hover {
	color: #b086f0;
	text-decoration: underline;
}

span.monospace {
	background-color: var(--mainBackgroundCol);
	border-radius: 5px;
	font-family: monospace;
	color: #aaa;
	border: 1px solid black;
}

span.small {
	font-size: 15px;
	color: #999;
}

span.date {
	font-family: monospace;
	font-weight: 700;
	font-size: 25px;
	color: #555;
	border-radius: 10px;
	padding: 5px 10px;
	transition: background-color .2s;
}

span.date:hover {
	background-color: var(--mainBackgroundCol);
}

section.secondary > div > h2 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #ddd;
}
