main {
	position: fixed;
	top: 90vh;
	left: 0;
	right: 0;
	height: 1500px;
	background-color: var(--mainBackgroundCol);

	display: flex;
	flex-direction: row;
}


#left {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: calc(-450px + 50%);
	min-width: 300px;
}

#right {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex: 1;
	background-color: var(--secondary);
}

#leftContent {
	flex: 1;
	max-width: 300px;
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
}

#rightContent {
	flex: 1;
	max-width: 1200px;
	padding: 20px 40px;
}

section {
	padding-bottom: 60px;
	border-bottom: 1px solid #444;
	margin-bottom: 40px;
}


h2 {
	color: var(--header);
	/* font-family: 'Lemon', cursive; */
	font-family: 'Fugaz One', cursive;
	font-size: 60px;
}
