header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	background-color: var(--mainBackgroundColTransparent);
	backdrop-filter: blur(5px);
	padding: 15px 40px;
	box-shadow: 0 0 3px #111, 0 0 10px #1a1a1aaa;
	display: flex;
	flex-direction: row;
	align-items: center;
}

h4 {
	color: var(--header);
	font-size: 30px;
	/* font-family: 'Comfortaa', cursive; */
	font-family: 'Fugaz One', cursive;
	/* text-shadow: 3px 0 0px #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 3px 3px 0px #000, -3px 3px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000, 0 0 20px #000; */
}

span {
	/* font-family: 'Comfortaa', cursive; */
	font-family: 'Nunito Sans', sans-serif;
	padding: 0 7px;
	color: #fff;
}
