:root {
	color-scheme: dark;
	/* text-rendering: optimizeLegibility; */
	--primary: #ffaa00;
	--secondary: #9c6101;
	--darkBackgroundColFilter: brightness(10%);
	--primaryHue: 40;
	/* --primary: hsl(var(--primaryHue), 90%, 40%); */
	--primary: hsl(var(--primaryHue), 100%, 60%);
	--mainBackgroundCol: hsl(var(--primaryHue), 5%, 7%);
	--mainBackgroundColTransparent: hsla(var(--primaryHue), 5%, 50%, 0.1);
	--header: hsl(var(--primaryHue), 100%, 70%);
	--secondary: hsl(var(--primaryHue), 5%, 10%);
	--highlight: hsla(calc(var(--primaryHue) + 180), 100%, 70%, .5);
	--separatorBorder: 1px solid #333;

	overflow: hidden;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
	background-color: var(--highlight);
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: hsl(var(--primaryHue), 20%, 5%);
	/* background-color: var(--secondary); */
}

#root {
	/* background-color: #202020; */
	width: 100vw;
	height: 100vh;
	perspective: 5px;
	/* overflow-x: hidden; */
	/* overflow-y: scroll; */
	/* scroll-behavior: smooth; */
}
