:root {
  color-scheme: dark;
  text-rendering: optimizeLegibility;
  --darkBackgroundCol: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  z-index: 0;
  background-color: var(--darkBackgroundCol);
  width: 100vw;
  height: 100vh;
}